body {
  background: linear-gradient(20deg, rgb(219, 112, 147), rgb(218, 163, 87));
}

.App {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Abel", sans-serif;
}

.App h1 {
  font-size: 32px;
  margin: 1em 0em;
}

.btn-subtitles {
  display: flex;
  align-items: flex-start;
  width: 70%;
}
.btn-subtitles > h3 {
  font-size: 20px;
}
.btn-container {
  margin: 1em 0;
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.role-btn {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  color: white;
  font-family: "Abel", sans-serif;
  border-radius: 4px;
  background: none;
  align-items: center;
  justify-content: center;
  width: 11em;
  height: 6em;
}
.role-btn:hover {
  cursor: pointer;
}
.btn-icon {
  font-size: 2rem;
}
.btn-label {
  font-size: 14px;
}

.members-table {
  margin: 1em 0;
  width: 40%;
}
.members-table th,
.members-table td {
  font-size: 22px;
  margin-top: 10px;
}
